{% extends 'base.html.twig' %}

{% block title %}Bank
{% endblock %}

{% block body %}
	<header>
		{% if app.user %}
			<button class="back-button" onclick="window.history.back();" type="button">Go back</button>
			<div class="mb-3">
				<a class="link" href="{{ path('account') }}">Mon compte</a>
				<a class="link" href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	</header>

	<main>
		{% if app.user %}
			<h2>Hello
				{{ app.user.firstname }}! ✅
				<br>
				Bienvenue sur votre compte BaNk
			</h2>
			<div class="card-container">
				<div class="card-header">
					<h3>Votre solde</h3>
					<p class="solde">
						<strong>0,00€</strong>
					</p>
				</div>
				<ul></ul>
			</div>
            <div class="container-home-button">
					<div class="primary-button btn-home">
						<a href="{{ path('add_money') }}">Ajouter de l'argent</a>
					</div>
					<div class="primary-button btn-home">
						<a href="#">Effectuer un virement</a>
					</div>
				</div>
		{% endif %}
	</main>
{% endblock %}
