{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<main id="home">
    <header>
        <a class="link" href="{{path('app_admin_login')}}">Admin</a>
    </header>

    <h1>Bienvenue chez BaNk 👋</h1>

    <div class="container-button-home">
    <div class="primary-button">
        <a href="#">Se connecter</a>
    </div>
    <div class="primary-button">
        <a href="#">Créer un compte</a> 
    </div>
    </div>

</main>
{% endblock %}
