{% extends 'base.html.twig' %}

{% block title %}Bank
{% endblock %}

{% block body %}
	<header>
		{% if app.user %}
			<button class="back-button" onclick="window.history.back();" type="button">Go back</button>
			<div class="mb-3">
				<a class="link" href="{{ path('account') }}">Mon compte</a>
				<a class="link" href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	</header>

	<main>
		{% if app.user %}
			<h2>Hello
				{{ app.user.firstname }}! ✅
				<br>
				Bienvenue sur votre compte BaNk
			</h2>
		{% endif %}
	</main>
{% endblock %}
