{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/kanellelorent/Desktop/Cours_M1/php-project/bankprojectv2/src/Controller/LoginController.php'|file_link(0) }}">src/Controller/LoginController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/kanellelorent/Desktop/Cours_M1/php-project/bankprojectv2/templates/login/index.html.twig'|file_link(0) }}">templates/login/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
